<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Awesome Search Box</title>
    <link rel="stylesheet" href="static/css/home.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
  </video>
  </head>
  <body>
    <h1 style="margin-top: 70px; padding:10px;color: black;font-family: arial, sans-serif;font-size: 50px;font-weight: bold; ">Movie Recommendation System..</h1>
    <form action='/search' method="POST">
      <div class="wrapper">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Type to search.." name="input" id="input">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon"><i class="fas fa-search"></i></div>
      </div>
    </div>
    <input type="submit" class="button" value="Submit">
    </form>
    <script type="text/javascript" src="{{url_for('static', filename='js/suggestions.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/search.js')}}"></script>
  </body>
</html>